{% load static %}
<section class="ftco-section ftco-no-pb ">
        <div class="container">
            <div class="row">
                <div class="col-md-6 img img-3 d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/about.jpg' %});">
                </div>
            <div class="col-md-6 wrap-about pl-md-5 ftco-animate py-5">
                <div class="heading-section">
                    <span class="subheading">Since 2012</span>
	                <h2 class="mb-4">Test Gratuit</h2>
                    <h5>vous pouvez demander un Test, gratuitement avant de valider votre abonnement</h5>
                    <h4>
                    <strong> 
                        <a class="mb-4" href = "{% url 'free-trial' %}">DEMANDER UN TEST GRATUIT, dès maintenant</a>
                    </strong>
                    </h4>
                    <p> SMART-VIEW est un Fournisseur d’abonnement IPTV de très haute qualité ,
                        notre playlist contient +75.000 chaînes et VOD.
                    </p>
                    <p> Les serveurs SMART-VIEW sont performants, stables et toujours mises à jour,
                        ce qui vous assurera une meilleure qualité lors du visionnage sans coupures..</p>
                    <p class="year">
                        <strong class="number" data-number="12">0</strong>
                        <span>Years of Experience In Business</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<br/>